/* Style qui s'applique à toute la page*/
#page {
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    margin: auto;
}

@media all and (max-width: 1200px) {
    #page {
        width: auto;
        margin: 0;
    }
}


h1 {
    font-weight: 800;
    font-size: 21px;
}

h3 {
    font-weight: 300;
    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;
}

#accomodation {
    background-color: #F2F2F2;
}

#popular {
    background-color: #F2F2F2; 
}

#footer {
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    margin: 0%;
}


/* Style du header*/

.nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
}

.header__logo {
    margin: 10px 0px 10px 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding-right: 60px;
}


.menu__list__1 {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 30px 20px 20px 20px;
}

.menu__item:hover {
    font-weight: 500;
    color:#0065FC;
    border-top: solid #0065FC 1px;
}


.signin__link {
    text-decoration: none;
    font-weight: 700;
    color: #0065fc;
}

  @media all and (max-width: 796px) {

    header {
        display: block;
    }

    .nav {
        width: 100%;
        display: block;
        justify-content: center;
    }

    .menu {
        width: 100%;
    }

    .menu__list {
        margin: 20px 0;
        width: 100%;
        display: block;
    }

    .menu__list__1 {    
       margin: 0;
       padding-left: 0%;
    }

    nav ul {
        width: auto;
        margin-left: 0;
    }

    nav li {
        padding-bottom: 15px;
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        border-top: hidden;
    }

    .menu__item:hover {
        border-top: hidden;
        font-weight: 800;
        color:#0065FC;
    }

    nav li:hover {
        font-weight: 800;
        color:#0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .signin {
        position: absolute;
        top: 35px;
        right: 35px;
    }

    .header__logo {
        margin-left: 8%;
    }    
  }

 

/* Style de la bar de recherche*/

#search {
    margin: 0 25px;
}

.search__title{
    margin-bottom: 30px;
}

.search__bar {
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    align-items: center;
    padding: 11px 0px;
    border: 1px solid #F2F2F2;
}

.search__icon {
    background-color: #F2F2F2;
    padding: 12px 15px;
    margin-left: 0;
    border-radius: 10px 0 0 10px;
}

.search__button{
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 13px 15px;
    border-radius: 0 10px 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    z-index: 2;
}

.search__input {
    border: none;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 15px;
    width: 200px;
}

.fa-search {
    visibility: hidden;
    z-index: 1;
    background-color: #0065FC;
    color: white;
    padding: 13px 15px;
    border-radius: 0 10px 10px 0;
}

@media all and (max-width: 796px) {
    .search__button {
        visibility: hidden;
        width: 1px;
        height: 1px;
        padding: 0;
    }

    .fa-search {
        visibility: visible;
    }
}

@media all and (max-width: 370px) {
    .search__input{
        width: 140px;
    }
}


/* Style des filtres*/

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 0 0 0;
}


.filter__title {
    margin: 15px 20px 5px 0;
    font-size: 15px;
}

.filter__bubble {
    display: flex;
    flex-direction: row;
    margin: 10px 8px 0 0;
    padding-right: 8px;
    border: #F2F2F2 solid 3px;    
    border-radius : 20px;
    align-items: center;
    position: relative;
}

.filter__bubble:hover {
    background-color: #0065FC;
    color: white;
}

.filter__icon {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    left: -2px;
}

.filter__text {
    padding-left: 30px;
    margin: 6px;
    font-size: 15px;
    font-weight: bold;
}

.info {
    color: #0065FC;
    font-size: 12px;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    margin: 15px 7px 15px 0;
    padding: 3px 8px;
}

.info__title {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media all and (max-width: 796px) {
    .filter__title {
        margin-right: 700px;
    }

    .info {
        margin-top: 0;
    }
}


    /* Style du milieu de page : accomodations populaires*/

    #acco-pop {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #accomodation {
        border-radius: 20px;
        width: 870px;
        margin: 10px 15px;
    }

    #popular {
        border-radius: 20px;
        width: 450px;
        margin: 10px 15px;
        align-content: center;
        align-items: center;
    }

    
    @media all and (max-width: 1024px) {
        #accomodation {
            width: auto;
        }

        #popular {
            width: auto;
        }  
    }

    @media all and (max-width: 1024px) and (min-width: 796px) {

        #popular {
            width: 45%;
        }

        #accomodation {
            width: 50%;
        }         
    }


    @media all and (max-width: 796px) {
        #acco-pop {
            display:flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            margin-bottom: 0;
        }

        #accomodation {
            background-color: white;
        }

        #popular {
            border-radius: 0%;
            margin: 0;
        }

    }

    /*Style de l'encart hébergement*/

    .accomodation__offer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        margin: 10px 20px 20px 20px;

    }

    .accomodation__title {
        margin: 25px 0px 5px 10px;
        padding: 3%;
        font-weight: 800;
        font-size: 21px;
    }

    .photo__h {
        display: flex;
        flex-direction: column;
        width: 210px;
        height: 180px;
        border-radius: 20px;
        background-color: white;
        margin: 10px;
        box-shadow: 5px 5px 10px #949393;
    }

    .photo__h:hover {
        box-shadow: 5px 5px 10px #DEEBFF;
    }

    .pic__h {
        padding: 2% 2% 0% 2%;
        border-radius: 20px 20px 0 0;     
        width: 200px;
        height: 105px;
        object-fit: cover;
    }

    .img-name {
        font-size: 15px;
        font-weight: 800;
        padding: 0 10px;
        word-break: break-word;
    }

    .photo__price {
        font-size: 12px;
        font-weight: 600;
        margin: 0 10px;
    }

    .note {
        margin: 8px 10px;
        font-size: 10px;
    }

    .note--blue {
        color: #0065FC;
    }
    
    .note--grey {
        color: #F2F2F2;
    }

    .photo__band {
        line-height: 8px;
    }

    @media all and (max-width: 991px) {

        .photo__h {
            box-shadow: 5px 5px 10px #949393;
            width: 300px;
            height: 175px;
        }

        .pic__h {
            width: 290px;
            height: 100px;
        }
    }

    .plus {
        margin: 0px 0px 5px 25px;
        padding: 3%;
        font-size: 17px;
        font-weight: 800;
    }

    /* Style de l'encart populaire*/

    .popular__title {
        font-weight: 800;
        font-size: 21px;
        padding-left: 25px;
    }

        
    .popular__header {
        margin: 10px 0px 5px 10px;
        padding: 3%;
        position: relative;
        align-items: center;
        justify-content: center; 
    }

    .popular__icon {
        position: absolute;
        top: 30%;
        right: 10%;
        padding-top: 7px;
    }

    .popular__offer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        margin: 10px 20px 20px 20px;
    }

    @media all and (max-width: 991px) {
        .popular__header {
            padding: 10px 5px;
        }

        .popular__title {
            margin-bottom: 0;
        }
    }

    

    /* Style des photos de popular */

    .photo__p {
        display: flex;
        flex-direction: row;
        height: 130px;
        width: 300px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 5px 5px 10px #949393;
        margin: 10px 5px;
    }

    .photo__p:hover {
        box-shadow: 5px 5px 10px #DEEBFF;
    }

    .pic__p {
        padding: 2% 0% 2% 2%;
        border-radius: 20px 0 0 20px;     
        width: 130px;
        height: 120px;
        object-fit: cover;
    }

    .photo__band--p {
        position: relative;
    }

    .note--p {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

        
    @media all and (max-width: 991px) and (min-width: 796px) {
        .photo__p {
            height: 185px;
            width: 320px;
            margin-bottom: 40px;
        }

        .pic__p {
            height: 175px;
        }
    }

    @media all and (max-width: 796px) {

        .photo__p {
            height: 125px;
            width: 290px;
            margin: 10px 5px;
        }

        .pic__p {
            height: 115px;
        }

        .popular__offer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

         
    /* Style du bandeau activités */

    #activity {
        margin: 10px 0px;
    }

    .activity__title {
        margin: 20px 0px 10px 30px;
        padding: 3% 0;
    }

    .activity__offer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .activity__doble {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .photo__a {
        display: flex;
        flex-direction: column;
        width: 250px;
        border-radius: 20px;            
        box-shadow: 5px 5px 10px #949393;
        margin: 5px 10px;
    }

    .photo__a:hover {
        box-shadow: 5px 5px 10px #DEEBFF;
    }

    .photo__a--big {
        height: 380px;
    }

    .photo__a--medium {
        height: 220px;
    }

    .photo__a--small {
        height: 150px;
    }

    .pic__a {
        border-radius: 20px 20px 0 0;     
        width: 250px;
    }

    .pic__a--big {
        height: 340px;
        object-fit: cover;
    }

    .pic__a--medium {
        height: 180px;
    }

    .pic__a--small {
        height: 110px;
    }

    @media all and (max-width: 1150px) {
        .photo__a {
            width: 210px;
        }

        .pic__a {
            width: 210px;
        }
    }

    @media all and (max-width: 991px) {

        .activity__offer {
            align-items: center;
        }

        
        .activity__doble {
            display: flex;
            flex-direction: row;
            justify-content: space-around; 
        }

        .photo__a {
            width: 300px;
            height: 170px;
            margin-bottom: 15px;
        }

        .pic__a {
            width: 300px;
            height: 120px;
            object-fit: cover;
        }
    }

    
       
        /* Style du footer */

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.footer {
    margin: 20px 80px 0 0;
}

.footer__title {
    font-size: 17px;
    margin: 15px 35px;
}

.footer__item {
    list-style: none;
    margin-bottom: 0;
    padding-left: 25px;
}

li.footer__list {
    margin: 10px;
    font-size: 15px;
}
